.offer {
  margin: 20px;

  .image-column {
    width: 80px;
    float: left;
  }
  .info-column {
    width: calc(100% - 80px);
    min-width: 250px;
    float: left;
    font-size: 17px;
  }
}

.error {
  color: #E91E1E;
  margin-bottom: 20px;
  margin-top: -10px;
}

.pagination {
  text-align: center;
  font-size: 17px;
  font-weight: bold;

  .pagination-link {
    text-decoration: none;
    color: #3F51B5;
  }
}

.borderbar {
  margin: 0px -50px 60px -50px;
  padding: 0px;
  height: 5px;

  span {
    float: left;
    width: 20%;
    height: 5px;
    margin: 0;
    padding: 0;

    &:nth-of-type(1) {
      background-color: #fed37f;
    }
    &:nth-of-type(2) {
      background-color: #ffb076;
    }
    &:nth-of-type(3) {
      background-color: #82d9b2;
    }
    &:nth-of-type(4) {
      background-color: #85d6de;
    }
    &:nth-of-type(5) {
      background-color: #fe8f8c;
    }
  }
}
